<!Doctype html>
<html>

<head>
    <title>
        Portfolio by Jonathan Saona
    </title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <meta charset="utf-8">

</head>

<body>

    <section class="assignments-section">
        <div class="row">
            <h1 id="assignments">WELCOME TO MY PORTFOLIO</h1>
        </div>
        <div class="row first-row">
            <!-- WORK -->
            <div class="column">
                <a href="work.html"><img src="../media/work.png" width="250px" height="200px" style="border-radius: 25px;"></a>
            </div>
            <!-- ABOUT ME -->
            <div class="column">
                <a href="about.html"><img src="../media/aboutme.png" width="250" height="200" style="border-radius: 25px; tra"></a>
            </div>
            <!-- FOOTER -->
            <div class="footer">
                <p>&copy; 2018 Developed by <a href="https://github.com/jsaona" target="_blank">Jonathan Saona</a></p>
            </div>
        </div>
</body>

</html>
