<!Doctype html>
<html>

<head>
    <title>
        Portfolio by Jonathan Saona
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">

</head>

<body>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>

    
    <h1 class="portfolio">Welcome to my portfolio</h1>
    
    <!-- FOOTER -->
    <footer>
        <div class="row">
            <p>&copy; 2018 Developed by <a href="https://github.com/jsaona" target="_blank">Jonathan Saona</a></p>
        </div>
    </footer>
    </body>
</html>