<!Doctype html>
<html>

<head>
    <title>
        Portfolio by Jonathan Saona
    </title>
    <link rel="stylesheet" type="text/css" href="../css/work.css">
    <meta charset="utf-8">
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>

    <!-- WORK SECTION -->
    <section class="assignments-section">
        <div class="row">
            <h1 id="assignments">WORK</h1>
        </div>
        <div class="row first-row">
            <!-- ASSIGNMENT 1 -->
            <div class="column">
                <h4>Assignment #1</h4>
                <a href="https://jsaona.github.io/MMP210/assignment8/" target="_blank"><img src="../media/patterns.jpg" width="250" height="200"></a>
                <p class="text">This is an assignment from MMP210. It was just about creating a pattern using P5 javaScript.</p>
            </div>
            <!-- ASSIGNMENT 2 -->
            <div class="column">
                <h4>Assignment #2</h4>
                <a href="https://jsaona.github.io/mmp240/bootstrap/home.html" target="_blank"><img src="../media/bootstrap.jpg" width="250" height="200"></a>
                <p class="text">This was my final project from MMP200. I added bootstrap to add style to my page.</p>
            </div>
            <!-- ASSIGNMENT 3 -->
            <div class="column">
                <h4>Assignment #3</h4>
                <a href="https://jsaona.github.io/MMP210/classwork/" target="_blank"><img src="../media/functions.jpg" width="250" height="200"></a>
                <p class="text">This is another MMP210 assignment. We were working on functions</p>
            </div>
        </div>
    </section>
    </section>

    <!-- FOOTER -->
    <div class="footer">
        <p>&copy; 2018 Developed by <a href="https://github.com/jsaona" target="_blank">Jonathan Saona</a></p>
    </div>
</body>

</html>
