<!Doctype html>
<html>

<head>
    <title>
        Portfolio by Jonathan Saona
    </title>
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <meta charset="utf-8">
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>

    <!-- ABOUT ME -->
    <div id="container">

        <h1>About me</h1>

        <img class="About-picture" src="../media/john.jpg" alt="picture" width="250" height="329">
        <div class="text-about">
            <p class="about-me" align="left"> My name is Jonathan Saona, I’m from Ecuador. I study at Borough of Manhattan Community College in New York City. I’ve been living in the United States for 9 years. My favorite sport is soccer. I like playing video games. I also like to go the gym. I loved technology since I was a kid such as computers, phones, etc. In the future I would like to be a web developer. I’m still developing my skills on building websites so each day I’m trying to learn new things from school and from the internet.
            </p>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <p>&copy; 2018 Developed by <a href="https://github.com/jsaona" target="_blank">Jonathan Saona</a></p>
    </div>
</body>

</html>
