@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


/*ASSIGNMENTS*/

.assignments-section {
    background: white;

}

.column {
    float: left;
    width: 300px;
    padding: 10px;
    height: 450px;
    margin-left: 75px;
}

h4 {
    color: black;
}

.text {
    color: black;
    width: 350px;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden
}



/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    color: inherit;
    font-size: 35px;
    text-transform: uppercase;

}

/*NAV*/

nav a {
    color: #f4eeee;
    background: #000;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    transition: all .5s;
    text-transform: uppercase;
    padding: 5px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin: 0 auto;
    text-align: center;
    position: fixed;
}

li {
    display: inline;
    padding: 10px;

}

nav a:hover {
    background: #ddd4d4;

}

img {
    margin: 0 auto;
    margin-left: 50px;
    transition: all 1s ease;

}

img:hover {
    opacity: 0.5;
}


/*FOOTER*/

a:hover {
    color: aqua;
}

a:link {
    color: aqua;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.65em;
    text-transform: uppercase;

}

a {
    text-decoration: none;
}
